<IfModule authz_core_module>
  <FilesMatch "\.(php)$">
    Require all denied
  </FilesMatch>
</IfModule>

<IfModule !authz_core_module>
  <FilesMatch "\.(php)$">
    Require all denied
  </FilesMatch>
</IfModule>
